* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    width: 960px;
    height: 600px;
    overflow: auto;
    margin: auto;
}

.leftSide {
    width: 30%;
    height: auto;
    background: rgb(0, 204, 255);
    float: left;
}

.rightSide {
    width: 70%;
    height: 100%;
    background: blueviolet;
    float: right;
}

.profileSide {
    margin-top: 30px;
    height: 90%;
    width: 85%;
    float: right;
    background: rgb(247, 245, 243);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10%;
}

.profileSide_header {
    text-align: center;
    width: 100%;
    height:44px;
    margin-top: 10px;
    font: bold;
    color: rgb(145, 137, 137);
    border-bottom: 1px solid rgb(179, 171, 171);
}

.profileSide_info {
    width: 100%;
    height: 45%;
    text-align: center;
    border-bottom: 1px solid black;
}

.profileSide_projects {
    width: 100%;
    height: 30%;
    border-bottom: 1px solid black;
}
.profileSide_header_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.profileSide_info_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.profileSide_projects_ruler_inline {
    display: flex;
    height: 30px;
}
.profileSide_info_data{
    width: 20%;
    margin-left: 10%;
    text-align: center;
}
.profileSide_projects_ruler {
    margin-left: 10%;
    margin-top: 10%;
}
.profileSide_teamates {
    margin-bottom: 10%;
}
.taskSide {
    margin-top: 30px;
    height: 90%;
    width: 95%;
    float: left;
    background: salmon;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.taskSide_header {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
}

.taskSide_content {
    background: greenyellow;
    width: 100%;
    height: 90%;
    border-bottom-right-radius: 5px;
}

.taskSide_content_button {
    height: 15%;
}

.taskSide_content_calendar {
    margin: auto;
    width: 90%;
    height: 80%;
    background: wheat;
    border-radius: 5px;
}

.calendar_header {
    height: 10%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid black;
    overflow: auto;
}

.calendar_row {
    height: 18%;
    width: 100%;
    border-bottom: 1px solid black;
    overflow: auto;
}

.calendar_bottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: auto;
}

.calendar_col {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
}